html,
body {
	background-color: #fff;
	font-family:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	html,
	body {
		background-color: #16161a;
		color-scheme: dark;
	}
}
